/*This Document contains style sheet for the whole app, I've divided parts with comments */
.App {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}


*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background:#576679;
  color: hsl(0, 0%, 100%);
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: #d8aaa8;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: #d8aaa8;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

/*Content Inside A container*/
/*App its divided into 3 columns and the structure is here (grid-template-columns)*/
.AppContainer {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .AppContainer{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .AppContainer{
    grid-template-columns: 1fr;
  } 
}

/*SideBar Styling */
.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
}
/* logo */
.bars{
  display: none;
}

.logo {
  display: flex;
  height: 5rem;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
}

.logo > img {
  width: 10rem;
  height: 7rem;
}


/* menu */
.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
}

.menuItem:hover {
  cursor: pointer;
}

.menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}

.active {
  background: var(--activeItem);
  margin-left: 0;
}
.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--#1b2838);
  margin-right: calc(1rem - 8px);
}


/* Tablets */
@media screen and (max-width: 1200px) {
  .menuItem>span{
    display: none;
  }
  .logo{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar{
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    width: 55%;
    padding-right: 1rem;
    height: 100%;
  }
  .menuItem>span{
    display: block;
  }
  .logo{
    display: flex;
  }
  .menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }
  .bars{
    display: flex;
    position: fixed;
    top: 2rem;
    left:60%;
    background:#ffe0e0;
    padding:10px;
    border-radius: 10px;
    z-index: 9;
  }
  .close{
    left: -60%;
  }
}

/*Dashboard CSS*/
.Dashboard{
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
  .Dashboard{
      justify-content:flex-start;
      margin-top: 2rem;
  }
}

@media screen and (max-width: 768px)
{
  .Das{
      align-items: center;
  }
}
